body {
    background-color: #333;
}
header {
    color: white;
    padding-bottom: 1px;
}
a {
    color: #cbc;
}

#sprite-container {
    width: 680px;
    height: 780px;
    padding: 0;
    float: left;
}

#sprite-canvas {
    width: 680px;
    height: 780px;
    padding: 0;
    margin: 0;
}

.sprite-pixel {
//    display: block;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    background-color: white;
    float: left;
}

.sprite-pixel:hover {
    cursor: pointer;
}

#color-controls-container {
    float: left;
    background-color: #ddd;
    width: calc(100% - 680px);
    height: 780px;
    text-align: center;
}

#color-controls {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 7px;
}

#color-controls th {
    width: 25%;
}

#addressTrunc {
    font-weight: normal;
    font-size: .9em;
}

#color-conversion-row {
    //margin-left: 25%;
    display: inline-block;
    margin: auto;
    //font-weight: ;
}
#color-conversion-row input {
    margin-right: 2px;
}

#codes-output {
    text-align: center;
    display: inline;
}